@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
}

@theme {
  --header-width: 68rem;
}

::selection {
  background: #ff770052;
}

:root {
  --ui-header-height: --spacing(18);
  --ui-container: var(--header-width);
  --ui-primary: #427b58;
}

.light {
  --ui-bg: #f8f3ee;
}

.dark {
  --ui-primary: #8ec07c;
  --ui-bg: #09090b;
}

@theme inline {
  --animate-meteor: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(var(--angle)) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(var(--angle)) translateX(-500px);
      opacity: 0;
    }
  }
}

.prose p {
  @apply leading-relaxed text-base lg:text-lg text-default;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}

.prose h2 a {
  @apply mt-16 mb-6 text-3xl font-bold;
}

.prose h3 {
  @apply mt-12 mb-4 text-2xl font-semibold;
}

.prose pre {
  @apply bg-muted p-6;
}

.prose code {
  @apply rounded leading-relaxed bg-muted py-0.5 text-sm lg:text-base lg:font-medium;
  font-family: "IBM Plex Mono";
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-leave-to {
  opacity: 0;
  transform: translateY(-5px);
}

.page-enter-from {
  opacity: 0;
  transform: translateY(5px);
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
