@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
}

@theme {
  --header-width: 60rem;
}

::selection {
  background: #ff770052;
}

:root {
  --ui-header-height: --spacing(20);
  --ui-container: var(--header-width);
  --ui-bg: #f8f3ee;
}
.dark {
  --ui-bg: #090909;
}

@theme inline {
  --animate-meteor: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(var(--angle)) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(var(--angle)) translateX(-500px);
      opacity: 0;
    }
  }
}

.prose p {
  @apply leading-relaxed text-base lg:text-lg text-toned;
  font-family: "ZT Nature Variable", sans-serif;
}

.prose h2 {
  @apply mt-16 mb-6 text-3xl font-bold;
}

.prose h3 {
  @apply mt-12 mb-4 text-2xl font-semibold;
}

.prose pre {
  @apply rounded bg-muted/40 p-6;
}

.prose code {
  @apply rounded bg-muted/40 py-0.5 text-sm lg:text-base;
  font-family: "Source Code Pro";
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
