@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
}

@theme {
  --header-width: 60rem;
}

:root {
  --ui-header-height: --spacing(20);
  --ui-container: var(--header-width);
}
.dark {
  --ui-bg: #1c1c1c;
}

@theme inline {
  --animate-meteor: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(var(--angle)) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(var(--angle)) translateX(-500px);
      opacity: 0;
    }
  }
}

.prose p {
  @apply leading-relaxed text-lg text-toned;
  font-family: "ZT Nature Variable", sans-serif;
}

.prose h2 {
  @apply mt-16 mb-6 text-3xl font-bold;
}

.prose h3 {
  @apply mt-12 mb-4 text-2xl font-semibold;
}

.prose pre {
  @apply rounded bg-muted/40 p-6;
}

.prose code {
  @apply rounded bg-muted/40 py-0.5 text-base font-mono;
  font-family: "Source Code Pro";
}
