@import "tailwindcss";
@import "@nuxt/ui";

* {
  font-family: "Space Grotesk";
}

article {
  font-family: "TT Norms Pro Mono Variable";
}

@theme {
  --header-width: 60rem;
}

:root {
  --ui-radius: 10rem;
  --ui-header-height: --spacing(20);
  --ui-container: var(--header-width);
}
.dark {
  --ui-bg: #1c1c1c;
}
