@import "tailwindcss";
@import "@nuxt/ui";

* {
  font-family: "Space Grotesk";
}

article {
  font-family: "TT Norms Pro Mono Variable";
}

@theme {
  --header-width: 60rem;
}

:root {
  /* --ui-radius: 1rem; */
  --ui-header-height: --spacing(20);
  --ui-container: var(--header-width);
}
.dark {
  --ui-bg: #1c1c1c;
}

@theme inline {
  --animate-meteor: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(var(--angle)) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(var(--angle)) translateX(-500px);
      opacity: 0;
    }
  }
}
